@font-face {
    font-family: 'MinecraftEvenings';
    src: url(fonts/MinecraftEvenings.ttf);
}

@font-face {
    font-family: 'MinecraftReg';
    src: url(fonts/MinecrafterReg.ttf);
}

@font-face {
    font-family: 'MinecraftAlt';
    src: url(fonts/MinecrafterAlt.ttf);
}

body{
    margin: 0%;
    padding: 0%;
  
}

.Sec1{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) url('NoobKumar.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}



.W-btn{
    color: transparent;
    margin: 0%;
    padding: 0%;
    background-image: url(mcjewild2.jpg);

    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    top: 1%;
    right: 30%;
    -webkit-text-stroke: 1px black;
    font-family: 'MinecraftReg';
    font-size: 45px;

}


.p-1{
    color: purple;
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 1%;
    -webkit-text-stroke: black 1px;
    font-family: 'MinecraftReg';
    float: left;
}

.C{
    color: transparent;
    background-image: url(SUB.png);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    top: 5%;
    left: 1%;
    font-family: 'MinecraftReg';
    -webkit-text-stroke: 1.5px black;
    font-size:35px;
    cursor: pointer;
    
}

.C:hover{
    color: rgb(147, 3, 3);
    -webkit-text-stroke: rgb(11, 11, 11) 1px;
    
    
}


.Download-Minecraftbtn{
    background-color: rgb(152, 187, 152);
    position: absolute;
    margin: 0%;
    transform: translate(-60%, -60%);
    border: none;
    font-family: 'MinecraftEvenings';
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    top: 60%;
    left: 80%;
    cursor: pointer;
    border-radius: 15px;

}

.Tlauncherbtn{
    background-color: green;
    margin: 0%;
    position: absolute;
    transform: translate(-60%, -60%);
    border: none;
    font-family: 'MinecraftEvenings';
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    top: 60%;
    left: 53.5%;
    cursor: pointer;
    border-radius: 15px;
    
}

.My-Channelbtn{
    background-color: rgb(255, 0, 0);
    margin: 0%;
    color: rgb(0, 0, 0);
    transform: translate(-60%,-60%);
    border: none;
    font-family: 'MinecraftEvenings', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    position: absolute;
    top: 60%;
    left: 25%;
    cursor: pointer;
    border-radius: 15px;
    
}

.My-Channelbtn:hover{
   background: rgb(184, 20, 20);
   color: rgb(255, 190, 190);
   -webkit-text-stroke: rgb(0, 0, 0) 1px;
   font-size: 25px;
   
}
.Tlauncherbtn:hover{
background: rgb(68, 255, 0);
color: rgb(20, 91, 0);
-webkit-text-stroke: rgb(0, 0, 0) 1px;
font-size: 25px;
}
    
.Download-Minecraftbtn:hover{
    background: rgb(203, 203, 203);
    color: rgb(111, 106, 106);
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
    font-size: 25px;
}



.thanks{
    font-family: 'MinecraftEvenings';
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 1%;
}



